@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&family=Single+Day&display=swap';
@import 'https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:ital,wght@0,300;1,100&family=Single+Day&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap';

.HomePage{
margin: 0;
display: flex;
}
.CreateOverlay {
 
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  background-color: white;
  transform: translate(-50%, -50%); 
   z-index: 9999;
} 
.Content__select{
    width: 75%;
}
.HomePage__left{
width:25%;
height: 100vh;
overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
  }
.HomePage__right{
background: #F7ECDC;
background-image: url('../../assets/BackgroundImage.png') ;
background-repeat: no-repeat;
background-size: 550px 200px;
background-position: center 100px;
color: beige;
width: 75%;
height: 100vh;
text-align: center;
}
.Hpr1{
font-family: 'Roboto';
font-style: normal;
font-weight: 650;
font-size: 50px;
line-height: 59px;
letter-spacing: 0.02em;
color: #000000;
margin-top: 300px;
margin-bottom: 20px;
}
.Hpr2{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 12px;
letter-spacing: 0.02em;
color: #292929;
}
.Hpr3{
display: flex;
margin-top: 120px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 22px;
align-items: center;
line-height: 32px;
letter-spacing: 0.02em;
color: #292929; 
justify-content: center; 
}
.Hpr3 p{
margin-left: 7px;
}
.Hpl1{
font-family: 'Roboto';
font-style: normal;
font-weight: 650;
font-size: 27.5195px;
line-height: 37px;
letter-spacing: 0.02em;
margin-left: 20px;
color: #000000
}
.H__button{
text-align: center;
width: 274px;
height: 34px;
background: #000000;
border-radius: 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 97.69%;
letter-spacing: 0.02em;
color: #FFFFFF;
border-top: none;
}
.Hdiv{
    display: flex;
    justify-content: center;
    position: relative;
}

.Hpl3{
  display:flex; 
  align-Items:center;
  background-color: var(--bg-color);
  width:60px;
  height:60px;
  border-Radius:50%;
  justify-Content:center;
  margin-right:20px;
  text-transform:uppercase;
  color: #FFF;
  font-size: 20.67px;
  font-family: Roboto;
  font-weight: 600;
  letter-spacing: 0.482px;
  list-style: none;
}
.Hpl2{
display: flex;
align-items: center;
color: #000;
font-size: 20.67px;
font-family: Roboto;
font-weight: 600;
letter-spacing: 0.413px;
list-style: none;
}
.Homepage__list{
  display: flex;
  margin-left: 55px;
  margin-bottom: 15px;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width:400px){

    .HomePage__right{
        display: none;
    }
    .HomePage__left{
        width: 100%;
    }
    .Content__select{
       position: absolute;
       width: 100%;
    }
    .CreateOverlay{
      width: 75%;
      height: 30%;
    }

}









