@import 'https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:ital,wght@0,300;1,100&family=Single+Day&display=swap';

/* .create{
    height: 20%;
    width: 20%;
    background-color: #FFFFFF;
} */
.Cp1{
color: #000;
font-size: 19px;
font-family: Roboto;
font-weight: 600;
line-height: 160.188%;
letter-spacing:0.8px;
margin-left: 10px;
}
.C__input{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Cinput{
border-radius: 15px;
border: 2px solid #CCC;
background: #FFF;
width: 60%;
height: 19px;
flex-shrink: 0;
border-color: #CCC;
text-align: center;
}
.Cs1{
color: #000;
font-size: 15.314px;
font-family: Roboto;
font-weight: 600;
line-height: 160.188%;
letter-spacing: 0.7px;
}
.buttons{
    width: 60%;
    display: flex;  
}
.buttons button{
    padding: 5px;
    margin-right: 10px;
     border: none;
     cursor: pointer;
     background: none; 
     width: 20px;
}

.C__buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.C__create{
    display: flex;
    justify-content: flex-end;
    margin-right: 23px;
    margin-top: 20px;
}
.C__create button{
    border-radius: 8px;
    background: #000;
    height: 25px;
    width: 100px;
    color: white; 
    border: none; 
    font-family: Roboto;
    letter-spacing: 0.8px;
}
@media(max-width:400px){
    .Cp1{
        font-size: 12px;
    }
    .Cs1{
        font-size: 12px;
    }
    .Cinput{
        font-size: 12px;
        margin-left: 6px;
    }
    .C__input{
        margin-top: 20px;
    }
    .C__buttons{
        margin-top: 10px;
    }
    .buttons button img{
        height: 15px;
        width: 15px;
    }
    .buttons button{
        margin-right: 5px;
    }
    .C__create{
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .C__create button{
        width:130px;
    }

}